<div>
<% if @picture.errors.any? %>
    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for(@picture) do |f| %>
  <%= f.label :url, "URL:" %>
  <%= f.text_field :url, :size => 75 %></p>

  <%= f.label :title, "Title:" %>
  <%= f.text_field :title, :size => 75 %>
  
  <div>
  <%= f.check_box :favorite %><%= f.label :favorite %>
  </div>
  
  <%= f.submit %>
  <%= link_to "or Cancel", pictures_url %>
<% end %>
</div>




